body, main { 
    margin: 0px;
    padding: 0px;
}

body {
    /*background-color: gray;*/
    font-family: 'Open Sans', sans-serif;
    background-color: gray;
}



#headImg {
  margin: 0px;
  width: 100%;
  border-radius: 0px;
  background-color: black;


}

#spacer {
  background-color: black;
  padding: 15px;
  margin-top: 0px;
  border-bottom: 3px solid red;
  
}
#wrap {
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 5px 5px 10px grey;
  
}

main {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 5rem;
    /* background: linear-gradient(to bottom, black 15%, rgba(68, 67, 78, 0.945) 100%)  */
    
}


img {
    width: 150px;
    margin-top: 25px;

}


.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    perspective: 600px;
    border-radius: 10px;
    line-height: 85px;
    
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

    
    
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    border: 1px solid #CCC;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    backface-visibility: hidden;
    
  }
  
  .card__face--front {
     background: radial-gradient(white, black);
     border-radius: 10px;
     font-size: 20px;
     box-shadow: 2px 2px 8px red;
     
  }
  
  .card__face--back {
    display: flex;
    
    flex-direction: column;
    background: black;
    transform: rotateY(180deg);
    border-radius: 10px;
    box-shadow: 2px 2px 8px blue;
  }

  h3 {
      margin: 0px;
      line-height: 50px;
      font-size: 1.5rem;
  }
  
button {
    margin: 0px 2%;
    width: 200px;
    height: 75px;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 15px;
    color: blue;
    border: 2px solid blue;
    margin-bottom: 3rem;

}

button:hover {
  background-color: black;
  font-weight: 700;
  color: red;
  border-radius: 15px;
  font-size: 1.75rem;
  padding: 15px;
  border: 2px solid white;
}

p {
  font-size: 13px;
  display: flex;
  margin: 10px;
  line-height: 20px;
  align-items: left;
}

.sprite {
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 95px;
  width: 100px;
  border-radius: 25px;
}

.spriteCustom {
  margin: 10px 35px;
  width: 125px;
  border-radius: 25px;
}

#additional {
  color: blue;
  text-align: center;
  margin-top: 0px;
}

#moreCard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

footer { 
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 35px;
  border-top: 3px solid red;
}

footer p {
   margin-right: 2%;
   font-size: 1rem;
   color: white;
}
