body, main { 
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 5rem;
    /* background: linear-gradient(to bottom, black 15%, rgba(68, 67, 78, 0.945) 100%)  */
    
}

/*#main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    background-color: white;
    border: red solid 1px;
    border-radius: 15px;
    padding-top: 34px;
   
}*/

img {
    width: 150px;
    border-radius: 25px;
    margin-top: 25px;

}

.scene {
    width: 200px;
    height: 260px;
   
    margin: 10px;
    perspective: 600px;
    border-radius: 10px;
    line-height: 85px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    border: 1px solid #CCC;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
     background: red;
     border-radius: 10px;
     font-size: 20px;
     
  }
  
  .card__face--back {
    background: blue;
    transform: rotateY(180deg);
    border-radius: 10px;
  }

  h3 {

      margin: 0px;
      line-height: 50px;
  }
  
button {
    margin: 0px 2%;
    width: 200px;
    height: 75px;
    font-size: 1.5rem;
    border-radius: 15px;
    color: red;


}