h3, p {
    margin: 0px;
}
h1 {
    color: red;
    text-align: center;
}

p {
    text-align: center;
    color: black;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
     border: black solid 3px; 
    /* background-color: black; */
}

h3 {
    color: black;
}

main {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 2rem;
}

header {
    display: flex;
    justify-content: center;
}

button {
    padding: 20px;
}

img {
    width: 120px;
}